# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Assets/AssetStoreTools/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj
.vs

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
Bin
*.idea
*.pyc

# ========================== #
# Extinction / Asset Folder  #
# ========================== #

Assets/Materials*
Assets/Models*
Assets/Motion*
Assets/ThirdPartyPackages*
Assets/Resources*
Assets/Sounds*
Assets/Textures*
Assets/Standard Assets*
Assets/Plugins*
